.section {
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 35px 15px;
    border: solid 1px gray;
    border-radius: 15px;
}

.section h1 {
    margin: 10px auto;
}

.section h3 {
    padding: 5px 0 40px 0;
}

#tables-container {
    display: none;
}

#map {
    height: 600px;
}
